/* Reset some default styles in browsers */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding-top: 60px; /* Increased the padding for the fixed header */
}

header {
    background: #50b3a2;
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header h1 {
    font-size: 2em;
}

.filter-section {
    margin: 80px 0; /* Adjusted top margin to create space below the fixed header */
    text-align: center;
}

label {
    font-size: 1.2em;
    margin-right: 10px;
}

select {
    padding: 10px;
    font-size: 1em;
}

.visualization-section {
    width: 90%;
    margin: auto;
    margin-top: 0.67em; /* Reduced margin-top by 2/3 */
    padding-top: 1em;
    text-align: center;
}


/* Media Query for responsiveness */
@media (max-width: 600px) {
    header h1 {
        font-size: 1.5em;
    }

    label {
        font-size: 1em;
    }

    select {
        width: 100%;
    }
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 8px;
    font: 12px sans-serif;
    background: #f9f9f9;
    border: solid 1px #cfcfcf;
    border-radius: 4px;
    pointer-events: none;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

/* Using Flexbox for centering and layout management */
.filter-section, .visualization-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Modern and appealing color scheme */
body {
    background-color: #f0f4f7;
    color: #333;
}

header {
    background: #2C3E50; /* Darker color for the header */
}

/* Adding transitions for smoother user experience */
a, select {
    transition: all 0.3s ease-in-out;
}

/* Additional media query for larger screens */
@media(min-width: 900px) {
    .filter-section, .visualization-section {
        flex-direction: row;
    }
}


/* Making the visualization section a flex container to organize child elements */
.visualization-section {
    display: flex;
    flex-direction: column; /* Stack the map and bar graph vertically on smaller screens */
    align-items: center; /* Center the child elements */
    gap: 20px; /* Provide some gap between child elements */
}

/* Make SVG elements responsive */
.visualization-section svg {
    max-width: 100%;
    height: auto;
}

/* Handle overflow for smaller screens */
.visualization-section {
    overflow: auto;
}

/* Media query for larger screens */
@media(min-width: 768px) {
    .visualization-section {
        flex-direction: row; /* Place the map and bar graph side by side on larger screens */
    }
}
